<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyeon.mapper.MemberMapper">
	<insert id="insertMember">
		insert into member values(#{email},#{password},#{name},#{phone},1,sysdate,null)
	</insert>
	
	<update id="updateMember">
		update member
		<set>
			<if test="password != null and password != ''">
				password=#{password},
			</if>
			<if test="name != null and name != ''">
				name=#{name},
			</if>
			<if test="phone != null and phone != ''">
				phone=#{phone},
			</if>
			<if test="status != null and status != ''">
				status=#{status}
			</if>
		</set>
		where email=#{email}
	</update>
	
	<update id="updateLoginDate">
		update member set login_date=sysdate where email=#{email}
	</update>
	
	<delete id="deleteMember">
		delete from member where email=#{email}
	</delete>
	
	<select id="selectMember" resultType="Member">
		select * from member where email=#{email}
	</select>
	
	<select id="selectMemberList" resultType="Member">
		select * from member order by email
	</select>
</mapper>